<h1>Viva Cristo Rei</h1>

{{#if approved}}
  <p>parabens seu cadastro foi aprovado</p>
{{else}}  
  <p>o seu cadastro precisa de aprovação</p>
{{/if}}

<h2>o nome do usuario é {{user.name}} e sua idade é {{user.idade}}</h2>
<h3>a cor é {{color.cor}}</h3>

{{#if auth}}
  <p>
    voce esta autenticado, <a href="/dashboard">clique aqui</a> para acessar area de usuario
  </p>
{{/if}}

